.header {
    background: #F1F3FF;
}

.bg-header {
    background-color: white !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-color-theme{
	color: white !important;
	background-color: #5CB85F;
}

.herosection p {
    height: 60px;
    width: 468px;
    left: 136px;
    top: 301px;
    border-radius: nullpx;
}

.carousel-item .bg-testi{
    background-color: #F1F3FF;
    border-radius: 8px;
}

.banner{
	background-color: #0D28A6;
	height: 326px;
    width: 100%;
    left: 136px;
    top: 2078px;
    border-radius: 13px;
}

.banner h3{
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: center;
	padding: 30px;
	color: #FFFFFF !important;

}

.banner p{
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF !important;

}